API_ID = 4784291 # Get it by creating an app on https://my.telegram.org
API_HASH = "be87fe0a2f987e72f45f7392b9cd3b9d" # Get it by creating an app on https://my.telegram.org
BOT_TOKEN = "1846589596:AAHOzX0RBQcF3Wnc4avI9Cjv5OyKcQlzFpM" # Get it by creating a bot on https://t.me/BotFather
SUDO_USERS = "" # List of sudo user's id, separated by space.
DOWNLOAD_DIR = "./download/" # Download directory where to download files. Must ends with forward slash > / <
